{% extends 'base.html' %}
{% block content %}

    <div class="authors">
        {% for user in users %}
            <a href="{{ url_for('user_posts', username=user.username) }}" class="author">
                {% if user.image_file %}
                    <img src="/static/images/{{ user.image_file }}">
                {% else %}
                    <img src="/static/images/default.png">
                {% endif %}
                <h5>{{ user.username }}</h5>
                <p>{{ user.email }}</p>
            </a>
        {% endfor %}
    </div>

{% endblock %}