{% extends 'base.html' %}
{% block content %}
{#    <div class="profile">#}
        <div class="posts">
            <div class="posts-heading">
                <h3>All posts</h3>
                <div class="pagination">
                    {% for page_number in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_number %}
                            {% if posts.page == page_number %}
                                <a class="btn btn-orange-active mr-2"
                                   href="{{ url_for('blog', page=page_number) }}">{{ page_number }}</a>

                            {% else %}
                                <a class="btn btn-orange mr-2"
                                   href="{{ url_for('blog', page=page_number) }}">{{ page_number }}</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-orange mr-2">...</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {#            {% for post in post %}#}
            {% for post in posts.items %}
                <div class="" style="margin-top: 30px">
                    <div class="post-author">
                        <div>
                            <img src="{{ url_for('static', filename='images/' + post.author.image_file) }}" alt="">
                            <h5>
                                <a href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                            </h5>
                        </div>
                        <p>{{ post.date_posted.strftime("%d %b %Y, %H:%m:%S") }}</p>
                    </div>
                    <div class="post-content">
                        <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
{#    </div>#}


{% endblock %}