@import "base/variables";
@import "base/general";

@import 'layout/header';
@import "layout/footer";
@import "layout/nav";
@import "layout/sections";

@import "components/buttons";
@import "components/post";
@import "components/cards";

@import "sections/registration-login";

@import "responsive/desktop";
@import "responsive/tablet";
@import "responsive/mobile";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $powder;
  position: relative;
  color: $main-text;
  font-family: 'SF-Pro-Text-Regular', sans-serif;
}

*, img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
