ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: lighten($main-text, 15%);
  }
}

textarea {
  resize: none;
  height: 200px;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ph::placeholder {
  font-size: 14px;
  color: $main-text;
}

.form-group {
  margin-bottom: 5px;
}

.margin-between {
  margin: 20px 0;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1, h2 {
    text-align: center;
  }
}

input[type='text'], input[type='password'], textarea {
  background-color: $light !important;
}

.show-btn {
  width: 100%;
  margin: 50px auto 30px;
  text-align: center;

  #show-more-btn {
    font-size: 14px;
    cursor: pointer;
  }
}