$main-text: rgba(0,0,0,0.6);
$orange-color: #BFAC95;
$light_green-color: #D9BD89;
$yellow-color: #0D0D0D;
$peach-color: #ccedd2;
$blue-color: #007bff;

$grey-blue: #a9b7c0;
$minty: #c7d8c6;
$light: #efd9c1;
$powder: #cccbc6;


@mixin multiRowEllipsis($rowNumber) {
  display: -webkit-box !important;
  -webkit-line-clamp: $rowNumber;
  line-clamp: $rowNumber;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}