{% extends './base.html' %}
{% block content %}
<section class="main-container">

        <div class="registration">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"><span>Log In</span></legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control is-invalid ph") }}
                            <div class="invalid-feedback" style="height: 30px">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}.</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control ph") }}
                            <div style="visibility: hidden">.</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control is-invalid ph") }}
                            <div class="invalid-feedback" style="height: 30px">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control ph") }}
                            <div  style="visibility: hidden">.</div>
                        {% endif %}
                    </div>
{#                    <div class="form-check">#}
{#                        {{ form.remember_me(class="form-check-input") }}#}
{#                        {{ form.remember_me.label(class="form-check-label") }}#}
{#                    </div>#}
                </fieldset>
                <div class="form-group margin-between">
                    {{ form.submit(class="btn btn-orange input-block-level form-control") }}
                </div>
                <div class="forgot">
                        <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
                        <a href="{{ url_for('register') }}">Sign Up Now</a>
                </div>

            </form>
        </div>

</section>
{% endblock %}
