{% extends './base.html' %}
{% block content %}
<section class="main-container">

<div class="profile">
    <div class="profile-info">
            <img src="{{ image_file }}" draggable="false" alt="profile-image" class="rounded-circle">
        <h2 class="profile-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><span>Profile info</span>
            </legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control is-invalid ph") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control ph") }}
                    <div style="visibility: hidden">.</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control  is-invalid ph") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control ph") }}
                    <div style="visibility: hidden">.</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.picture.label() }}
                {% if form.picture.errors %}
                    {{ form.picture(class="form-control-file btn-file") }}
                    {% for error in form.picture.errors %}
                        <span class="text-danger" style="font-size: 14px;">{{ error }}</span><br>
                    {% endfor %}
                {% else %}
                    {{ form.picture(class="form-control-file btn-file") }}
                    <div style="visibility: hidden">.</div>
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group margin-between">
            {{ form.submit(class="btn btn-orange form-control") }}
        </div>

    </form>
</div>
</section>
{% endblock %}