{% extends './base.html' %}
{% block content %}
    <section class="main-container">

        <div class="registration">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"><span>Reset password</span></legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control is-invalid ph") }}
                            <div class="invalid-feedback" style="height: 30px">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}.</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control ph") }}
                            <div style="visibility: hidden">.</div>
                        {% endif %}
                    </div>

                </fieldset>
                <div class="form-group margin-between">
                    {{ form.submit(class="btn btn-orange input-block-level form-control") }}
                </div>
            </form>
        </div>

    </section>
{% endblock %}
