{% extends 'base.html' %}
{% block content %}

    <div class="main-photo">
        <div class="main-heading">
            <h1>Welcome to my blog</h1>
        </div>
    </div>

    <div class="cards">
        {% for post in posts[:3] %}
            {% include './partials/card_blog.html' %}
        {% endfor %}
    </div>
    <span id="hiddenText"></span>
    <div id="showText" class="cards">
        {% for post in posts[3:] %}
            {% include './partials/card_blog.html' %}
        {% endfor %}
    </div>


{#    {% if posts.item|length == 1 %}#}
        <div class="show-btn">
            <a id="show-more-btn">Show more</a>
        </div>
{#    {% endif %}#}
{% endblock %}