.registration {
  //height: 100%;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: $minty;
  box-shadow: 0 0 10px $main-text;
  border-radius: 5px;
}

form {
  width: 400px;
}

legend.registration {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  img {
    width: 120px;
  }
}

.forgot {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  a {
    color: $main-text;
  }
}

.reg-alert {
  width: 20%;
  min-width: 250px;
  margin: 20px auto 0;
  position: absolute;
  right: 20px;
  font-size: 14px;
  top: 70px;
}

.profile {
  position: absolute;
  top: 20%;
  transform: translate(0,0);
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: $minty;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 3px #777;

  img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px
  }

  &-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    padding-right: 20px;
  }
}