{% extends './base.html' %}
{% block content %}
{#    <div class="profile">#}
        <div class="posts">
            <div class="">
                <div class="post-author">
                    <div>
                        <img src="{{ url_for('static', filename='images/' + post.author.image_file) }}" alt="">
                        <h5>
                            <a href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                        </h5>
                    </div>
                    <p>{{ post.date_posted.strftime("%d %b %Y, %H:%m:%S") }}</p>
                </div>
                <div class="post-content">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                </div>
                {% if post.author == current_user %}
                    <div class="post-update">
                        <a href="{{ url_for('edit_post', post_id=post.id) }}">edit</a>
                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                            <input type="submit" value="delete" class="btn-delete">
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
{#    </div>#}
{% endblock %}