{% extends './base.html' %}
{% block content %}
    <section class="main-container">

    <div class="profile">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><span>Add post</span>
            </legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control is-invalid ph") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control ph") }}
                    <div style="visibility: hidden">.</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control is-invalid ph") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control ph") }}
                    <div style="visibility: hidden">.</div>
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group margin-between">
            {{ form.submit(class="btn btn-orange form-control") }}
        </div>

    </form>
</div>
    </section>
{% endblock %}