{% extends './base.html' %}
{% block content %}
<section class="main-container">

<div class="profile">
{#    <div class="profile-info">#}
{#        <h2 class="profile-heading">{{ current_user.title }}</h2>#}
{#        <p class="text-secondary">{{ current_user.content }}</p>#}
{#    </div>#}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><span>Edit post</span>
            </legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control is-invalid ph") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control ph") }}
                    <div style="visibility: hidden">.</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control is-invalid ph") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control ph") }}
                    <div style="visibility: hidden">.</div>
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group margin-between">
            {{ form.submit(class="btn btn-orange form-control") }}
        </div>

    </form>
</div>
</section>
{% endblock %}