{% extends './base.html' %}
{% block content %}
    {#    <div class="profile">#}

    <div class="posts">
        <div class="posts-heading">
            <h4>Posts by {{ user.username }} ({{ posts.total }})</h4>
            <div class="pagination">
                {% for page_number in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_number %}
                            {% if posts.page == page_number %}
                                <a class="btn btn-orange-active mr-2"
                                   href="{{ url_for('user_posts', username=user.username, page=page_number) }}">{{ page_number }}</a>

                            {% else %}
                                <a class="btn btn-orange mr-2"
                                   href="{{ url_for('user_posts', username=user.username, page=page_number) }}">{{ page_number }}</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-orange mr-2">...</a>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="cards">
            {% for post in posts.items %}
                {% include './partials/card_blog.html' %}
            {% endfor %}
        </div>
        </a>
    </div>


{% endblock %}