@media (max-width: 1450px) {
  .main-container {
    height: 100% !important;
    width: 100%;
    min-width: 100%;
    position: relative;
  }

  .registration {
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    margin: 30px 0;
  }

  //.profile {
  //  top: 10%;
  //}
}