<div class="card">
    <a href="{{ url_for('post', post_id=post.id) }}">
        <h3>{{ post.title }}</h3>
        <p class="card-content">{{ post.content }}</p>
    </a>
    <div>
        {% if post.author == current_user %}
        <div class="card__author--update">
            <a href="{{ url_for('edit_post', post_id=post.id) }}">edit</a>
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <input type="submit" value="delete" class="btn-delete">
            </form>
        </div>
    {% endif %}
    <div class="card__author">

        <a href="{{ url_for('user_posts', username=post.author.username) }}">
            <img src="{{ url_for('static', filename='images/' + post.author.image_file) }}" alt="">
            <span>{{ post.author.username }}</span>
        </a>
        <p>{{ post.date_posted.strftime("%d %B %Y") }}</p>

    </div>
    </div>
</div>
