<nav>
    <ul>
        <li><a href="{{ url_for('home') }}"><img src="/static/images/logo.png" alt=""></a></li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('blog') }}">Blog</a></li>
        <li><a href="{{ url_for('authors') }}">Authors</a></li>
    </ul>
    <ul>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('new_post') }}">New Post</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
