.btn-orange {
  color: $main-text;
  //border: 1px solid $main-text;
  background-color: $grey-blue;
  &-active {
    color: $main-text;
    background-color: darken($grey-blue, 10%);
  }
  &:hover {
    color: #fff;
    background-color: darken($grey-blue, 10%);
  }
}



.btn-delete {
  border: none;
  background-color: transparent;
  outline: none;
  color: inherit;
  cursor: pointer;
  padding: 0;

  &:hover {
    color: red;
  }
}

.pagination {
  display: flex;

}
