.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //display: flex;
  //flex-direction: row;
  //justify-content: center;
  //align-items: flex-start;
  //flex-wrap: wrap;
  margin: 50px 50px -50px 50px;
  //width: 100%;
}

.card {
  width: 400px;
  height: 300px;
  background-color: $light;
  margin: auto auto 30px auto;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    @include multiRowEllipsis(1);
    font-weight: 600;
    font-size: 20px;
  }

  &-content {
    @include multiRowEllipsis(5)
  }

  &__author {
    border-top: 1px solid $grey-blue;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--update {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 5px;

      a, form {
        width: 50px;
      }
    }


    p, span {
      margin: 0;
      font-size: 14px;
    }

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

}

#showText {
  display: none;
}

.authors {
  margin: 0 50px;
  padding-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.author {
  width: 250px;
  min-width: 250px;
  height: 270px;
  background-color: $light;
  margin: 0 30px 30px 0;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  p, h5 {
    margin: 0;
    color: $main-text;
  }
}