.posts {
  padding: 100px 50px 0;
  display: flex;
  flex-direction: column;


  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    h3 {
      margin: 0;
    }
  }

  .post {
    border: 1px solid $yellow-color;
    background-color: $light;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 600px;
    min-height: 200px;
    padding: 10px;

    &-author {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5px;
      border-bottom: 1px solid $yellow-color;

      & > div {
        display: flex;
        align-items: center;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 0;
      }

      h5 {
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 14px;
      }
    }

    &-content {
      margin-top: 10px;
    }

    &-update {
      display: flex;
      justify-content: flex-end;
      a {
        margin-right: 10px;
      }
      form {
        width: auto;
      }
    }

  }
}