ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: rgba(38, 38, 38, 0.6);
}

textarea {
  resize: none;
  height: 200px;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ph::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.form-group {
  margin-bottom: 5px;
}

.margin-between {
  margin: 20px 0;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error h1, .error h2 {
  text-align: center;
}

input[type=text], input[type=password], textarea {
  background-color: #efd9c1 !important;
}

.show-btn {
  width: 100%;
  margin: 50px auto 30px;
  text-align: center;
}
.show-btn #show-more-btn {
  font-size: 14px;
  cursor: pointer;
}

body {
  background-color: green;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: #a9b7c0;
  box-shadow: 2px 2px 5px rgba(119, 119, 119, 0.3);
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
}
nav ul li a:hover {
  color: rgba(26, 26, 26, 0.6);
  text-decoration: none;
}
nav ul img {
  width: 150px;
}

.main-photo {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/images/main.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.main-heading {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  position: absolute;
}

.btn-orange {
  color: rgba(0, 0, 0, 0.6);
  background-color: #a9b7c0;
}
.btn-orange-active {
  color: rgba(0, 0, 0, 0.6);
  background-color: #8c9eaa;
}
.btn-orange:hover {
  color: #fff;
  background-color: #8c9eaa;
}

.btn-delete {
  border: none;
  background-color: transparent;
  outline: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}
.btn-delete:hover {
  color: red;
}

.pagination {
  display: flex;
}

.posts {
  padding: 100px 50px 0;
  display: flex;
  flex-direction: column;
}
.posts-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.posts-heading h3 {
  margin: 0;
}
.posts .post {
  border: 1px solid #0D0D0D;
  background-color: #efd9c1;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 600px;
  min-height: 200px;
  padding: 10px;
}
.posts .post-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #0D0D0D;
}
.posts .post-author > div {
  display: flex;
  align-items: center;
}
.posts .post-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 0;
}
.posts .post-author h5 {
  margin: 0;
}
.posts .post-author p {
  margin: 0;
  font-size: 14px;
}
.posts .post-content {
  margin-top: 10px;
}
.posts .post-update {
  display: flex;
  justify-content: flex-end;
}
.posts .post-update a {
  margin-right: 10px;
}
.posts .post-update form {
  width: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 50px -50px 50px;
}

.card {
  width: 400px;
  height: 300px;
  background-color: #efd9c1;
  margin: auto auto 30px auto;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 600;
  font-size: 20px;
}
.card-content {
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.card__author {
  border-top: 1px solid #a9b7c0;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__author--update {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
}
.card__author--update a, .card__author--update form {
  width: 50px;
}
.card__author p, .card__author span {
  margin: 0;
  font-size: 14px;
}
.card__author img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

#showText {
  display: none;
}

.authors {
  margin: 0 50px;
  padding-top: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.author {
  width: 250px;
  min-width: 250px;
  height: 270px;
  background-color: #efd9c1;
  margin: 0 30px 30px 0;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.author p, .author h5 {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.registration {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #c7d8c6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

form {
  width: 400px;
}

legend.registration {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
legend.registration img {
  width: 120px;
}

.forgot {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.forgot a {
  color: rgba(0, 0, 0, 0.6);
}

.reg-alert {
  width: 20%;
  min-width: 250px;
  margin: 20px auto 0;
  position: absolute;
  right: 20px;
  font-size: 14px;
  top: 70px;
}

.profile {
  position: absolute;
  top: 20%;
  transform: translate(0, 0);
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #c7d8c6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 3px #777;
}
.profile img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.profile-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  padding-right: 20px;
}

@media (max-width: 1450px) {
  .main-container {
    height: 100% !important;
    width: 100%;
    min-width: 100%;
    position: relative;
  }

  .registration {
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    margin: 30px 0;
  }
}
@media (max-width: 550px) {
  .registration {
    min-width: 90%;
    width: 90%;
  }

  form {
    width: 90%;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cccbc6;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  font-family: "SF-Pro-Text-Regular", sans-serif;
}

*, img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=styles.css.map */
