nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: $grey-blue;
  box-shadow: 2px 2px 5px rgba(119, 119, 119, 0.3);

  ul {
    display: flex;
    align-items: center;

    li {
      margin-right: 20px;

      a {
        color: $main-text;
        transition: all .2s;
        &:hover {
          color: lighten($main-text, 10%);
          text-decoration: none;
        }
      }
    }

    img {
      width: 150px;
    }
  }
}