.main-photo {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/images/main.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}


.main-heading {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  position: absolute;
}